@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@font-face {
  font-family: 'TT Interphases Mono Local';
  src: url('./assets/fonts/TT Interphases Pro Mono Trial Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}